# 服务器配置
server:
  # 服务端口
  port: 8081

# Spring框架配置
spring:
  # 数据源配置
  datasource:
    # 数据库连接URL
    url: jdbc:mysql://localhost:3306/oa-sys-database?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    # 数据库用户名
    username: root
    # 数据库密码
    password: root
    # 数据库驱动类名
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    # Redis服务器地址
    host: localhost
    # Redis服务器端口
    port: 6379
    # 连接超时时间
    timeout: 10000
    # Redis数据库索引
    database: 0
    # 连接池配置
    jedis:
      pool:
        # 连接池最大连接数(默认8)
        max-active: 1024
        # 连接池最大空闲连接数(默认8)
        max-idle: 200
        # 连接池最大等待时间 (默认-1,会阻塞,设为 10000ms)
        max-wait: 10000
        # 连接池最小空闲连接数(默认0)
        min-idle: 5
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
      cluster:
        nodes:
          # 主节点
          - localhost:6379
          # 从节点 (当前项目与 docker redis 主从节点都在一台机器上, 所有区分端口号, 从节点改为 6380)
          - localhost:6380
      read-from: REPLICA_PREFERRED  # 优先从从节点读取
      replication:
        enabled: true  # 启用读写分离

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

# MyBatis Plus 配置
mybatis-plus:
  # MyBatis配置
  configuration:
    # 日志实现类，输出SQL到控制台
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # 全局配置
  global-config:
    # 数据库配置
    db-config:
      # 主键类型，auto表示数据库自增
      id-type: auto
      # 表前缀，空表示无前缀
      table-prefix: 
    # 启用DDL操作
    enable-sql-runner: true
  # 启用自动建表
  mapper-locations: classpath*:/mapper/**/*.xml

# 日志级别配置
logging:
  level:
    # Spring Security日志级别
    org.springframework.security: DEBUG
    # 项目包日志级别
    com.lee.oa: DEBUG
    # MyBatis日志级别
    org.mybatis: DEBUG

# JWT配置
jwt:
  # JWT 密钥存储请求头
  token-header: Authorization
  # 密钥前缀
  token-start: Bearer
  # 密钥字符串
  token-secret: oa-system-secret-key-development
  # 密钥过期时间，单位秒(24 小时)
  token-expire-time: 86400

# 解决Springfox与Spring Boot 2.6+兼容性问题
springfox:
  documentation:
    swagger-ui:
      base-url: /