<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.oa.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.lee.oa.pojo.Menu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="url" property="url"/>
        <result column="component" property="component"/>
        <result column="icon_cls" property="icon"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="require_auth" property="requireAuth"/>
        <result column="parent_id" property="parentId"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <resultMap id="Menus" type="com.lee.oa.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.lee.oa.pojo.Menu">
            <id column="id2" property="id"/>
            <result column="name2" property="name"/>
            <result column="path2" property="path"/>
            <result column="url2" property="url"/>
            <result column="component2" property="component"/>
            <result column="icon2" property="icon"/>
            <result column="keep_alive2" property="keepAlive"/>
            <result column="require_auth2" property="requireAuth"/>
            <result column="parent_id2" property="parentId"/>
            <result column="enabled2" property="enabled"/>
        </collection>
    </resultMap>

    <resultMap id="MenusWithRole" type="com.lee.oa.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.lee.oa.pojo.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="role_name_zh" property="nameZh"/>
        </collection>
    </resultMap>

    <!-- 根据用户ID查询菜单列表 -->
    <select id="getMenusByUserId" parameterType="java.lang.Long" resultMap="Menus">
        SELECT
        DISTINCT
            m1.*,
            m2.id as id2,
            m2.url as url2,
            m2.path as path2,
            m2.component as component2,
            m2.name as name2,
            m2.icon_cls as icon2,
            m2.keep_alive as keep_alive2,
            m2.require_auth as require_auth2,
            m2.parent_id as parent_id2,
            m2.enabled as enabled2
        FROM
            t_menu as m1,
            t_menu as m2,
            t_role as role,
            t_menu_role as mr
        WHERE
            m1.id = m2.parent_id
        AND m2.id = mr.menu_id
        AND mr.role_id = role.id
        AND role.id = #{id}
        AND m2.enabled = TRUE
        ORDER BY
            m2.id
    </select>

    <!-- 根据角色获取菜单 -->
    <select id="getMenusWithRole" resultMap="MenusWithRole">
        SELECT
            m.*,
            role.id as role_id,
            role.name as role_name,
            role.name_zh as role_name_zh
        FROM
            t_menu as m,
            t_role as role,
            t_menu_role as mr
        WHERE
            m.id = mr.menu_id
        AND
            role.id = ur.role_id
        ORDER BY
            m.id
    </select>

</mapper>