<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.oa.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.oa.pojo.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_zh" property="nameZh" />
    </resultMap>

    <!-- 根据用户ID获取用户角色列表的ResultMap -->
    <resultMap id="RolesResultMap" type="com.lee.oa.pojo.Role">
        <id column="role_id" property="id" />
        <result column="role_name" property="name" />
        <result column="role_name_zh" property="nameZh" />
    </resultMap>

    <!-- 根据用户ID获取用户角色列表 -->
    <select id="getRoles" resultMap="RolesResultMap" parameterType="java.lang.Integer">
        SELECT
            role.id as role_id,
            role.name as role_name,
            role.name_zh as role_name_zh
        FROM
            t_role as role
            LEFT JOIN t_user_role as ur ON role.id = ur.role_id
        WHERE
            ur.user_id = #{userId};
    </select>
</mapper>